body {
    background-color: black;
}

.line{
    color: white;
    font-family: monospace;
    font-size: 16px;
}

.blinking {
    animation: blinker 1s linear infinite;
    color: white;
    font-size: 16px;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
