body {
    background-color: black;
}

p , div, h1, h2, h3{
    color: white;
    font-family: monospace;
}

.blinking {
    animation: blinker 1s linear infinite;
    color: white;
    font-size: 20px;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
